@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

body {
    font-family: 'Comic Neue', cursive;
    margin: 0;
}

:root {
    --primary-color : #FCD34D;
    --background-color: #E5E7EB;
    --text-color: white;
    
}

main {
    margin: auto;
    max-width: 650px;
    width: 100%;
}

textarea{
    width: 80%;
    height: 15vh;
    display: block;
    padding: 2rem;
    border: 1px solid black;
    font-family: inherit;
    font-size: large;
}

#output {
    width: 80%;
    height: 15vh;
    border: 1px solid black;
    padding: 2rem;
    font-size: large;
}

#btn-translate {
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.output-message {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
